extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p Services avaialable
  a(href="user/new") Create a New User
  br
  a(href="drug/new") Create a New Drug
  br
  a(href="portfolio/new") Create a New Portfolio
  br
  a(href="login") login
  br
  